@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: #FFF8EE;
}

.bg-secondary {
    background-color: #CC3333;
}

.bg-tertiary {
    background-color: #4BFF3C;
}

.text-primary {
    color: #2A435D;
}

.text-secondary {
    color: #CC3333;
}

.text-green {
    color: #4BFF3C;
}
